/* navbar.css */
.navbg {
    height: 100vh;
    width: 100%;
    display: flex;
 }
  
  .navBar {
    height: 100%;
    background: black;
    width: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .navBar a {
    color: white; /* Icon and text color */
    font-size: 20px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .navBar a:hover {
    color: orangered; /* Change color on hover */
  }
  
  .orange-strike {
    background: orangered;
    width: 0.5%;
    height: 100%;
  }
  